*, *:before, *:after { box-sizing: border-box; }

:focus { outline: 0; }

body {
	background: $base-background-color;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 60rem;
	width: 90%;

	margin: 0 auto;
}

.flex {
	display: flex;

	@include max-screen(40rem) {
		flex-direction: column;
	}
}

