.navigation {
    padding: 1rem 0;
    margin-bottom: 1rem;

    background-color: $base-color;
    border-bottom: 1px solid $primary-border-color;

    header {
        text-align: center;
    }

    .profile {
        a { float: left; }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }
}
