.navigation {
    padding: 1rem;
    margin-bottom: 1rem;

    background-color: $base-color;
    border-bottom: 1px solid $primary-border-color;

    header {
        text-align: center;
    }

    .profile {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;

        a { margin-left: .5em; }
    }

    .profile--image {
        img {
            display: block;
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }
}
